@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #c2410c;
  --secondary: #ea580c;
  --accent: #fb923c;
}

@theme {
  --color-primary: #c2410c;
  --color-secondary: #ea580c;
  --color-accent: #fb923c;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Custom animations */
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}
